<p>نرحب بك في منصة سبيل</p>
<p>تمت مراجعتك بياناتك والموافقة على طلبك لتكون أحد المساهمين في منصة سبيل</p>
<p>تم إنشاء حساب لك على المنصة بالبيانات التالية :</p>
<p>البريد الإلكتروني : <%= @profile.email  %></p>
<p>كلمة السر : <%= @profile.password  %></p>
<p>يمكنك تغيير كلمة مرورك بعد تسجيل دخولك لاول مرة من إعدادات حسابك</p>
<p>شكرا لانضمامك لفريق سبيل.</p>
