<h1>New creating meeting place request</h1>

<%= render "form", creating_meeting_place_request: @creating_meeting_place_request %>

<br>

<div>
  <%= link_to "Back to creating meeting place requests", creating_meeting_place_requests_path %>
</div>
