<!DOCTYPE html>
<html lang="en">
  <head>
    <title>منصة سبيل</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application"%>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
      <h1 class="display-1 fw-bold text-white">404</h1>
    </div>
  </body>
</html>
