<% if !user_signed_in? && !admin_signed_in?%>
  <%= link_to "Sign in user", new_user_session_path %>
  <br>
  <%= link_to "Sign in admin", new_admin_session_path %>
<% end %>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path %>
<% end %>
<% if admin_signed_in? %>
  <h4>you are an admin</h4>
  <%= link_to "Sign out", destroy_admin_session_path %>
<% end %>
