<h1>My Library</h1>
<div id="books">
  <% @books.each do |book| %>
    <p>
      <%= render book %>
      <hr>
    </p>
  <% end %>
</div>
<%= link_to "New book", new_book_path, class: "btn btn-success" %>
