<h2>مكتبتي</h2>
<%= stylesheet_link_tag "book"%>
<style>
  body{
  background-color: var(--primary-color)
  }
</style>
<div class= "container" >
  <div class="wrapper">
    <% @books.each do |book| %>
      <%= render book %>
    <% end %>
  </div>
</div>
<%= link_to "New book", new_book_path, class: "btn btn-success" %>
