<h1>New book</h1>

<h2>By Search</h2>
<%= render "search_bar", book: @book %>
<div id="search_results">results here</div>

<br>

<h2>Manual</h2>
<%= render "form", book: @book  %>


<div>
  <%= link_to "Back to books", books_path %>
</div>
