body{
    padding-top: 120px;
    background-color: whitesmoke;
}

.page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.table-container{
    margin: 2% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

div.table-responsive{
    
    min-width: 80%;
}

center-it{
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}



.empty-library{
    display: flex;
    width: 100%;
    height: 70vb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .empty-library p{
    text-align: center;
    font-weight: bold;
  }
