
/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
    background: var(--site-footer-bg-color);
    padding-top: 0;
    margin-top: -1px;
    padding-bottom: 35px;
  }
  
  .site-footer .custom-link,
  .site-footer .social-icon-link:hover {
    color: var(--white-color);
  }
  
  .site-footer .custom-link:hover {
    color: var(--primary-color);
  }
  
  .copyright-text {
    color: var(--section-bg-color);
    font-size: var(--copyright-font-size);
    margin-top: 10px;
  }
  
  .site-footer .social-icon-link {
    margin-top: 10px;
  }
  
/*--------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
    margin: 0;
    padding: 0;
  }
  
  .social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
  }
  
  .social-icon-link {
    color: var(--p-color);
    font-size: var(--p-font-size);
    display: block;
    margin-right: 15px;
    text-align: center;
  }
  
  .social-icon-link:hover {
    color: var(--secondary-color);
  }
  
  .social-icon-twitter {
    color: var(--twitter-color);
  }
  
  .social-icon-facebook {
    color: var(--facebook-color);
  }
  
  .social-icon-instagram {
    color: var(--instagram-color);
  }
  
  .social-icon-pinterest {
    color: var(--pinterest-color);
  }
  
  .social-icon-whatsapp {
    color: var(--whatsapp-color);
  }
  
  li a{
    color: var(--dark-color);
    text-decoration: none;
  }
  a {
    touch-action: manipulation;
    transition: all 0.3s;
}
  .custom-link {
    font-size: larger;
    color: var(--p-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    padding-bottom: 2px;
  }
  
  .custom-link::after {
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
    transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
    background: currentColor;
  }
  
  .custom-link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
  
  .custom-link:hover {
    color: var(--primary-color);
  }
  
  .custom-link:hover::after {
    background: var(--custom-btn-bg-color);
  }

  @media screen and (max-width: 580px) {
    .site-footer {
      text-align: center;
    }
    
  }

  .footer-container{
    position: static;
    bottom: 0;
    left: 0;
  }