body{
    font-family: 'Marhey', sans-serif;
  }
  input {
    font-family: 'Marhey', sans-serif;
  }
form {
    width: 400px;
    padding:30px 20px;
    margin:auto;
    position: relative;
    top: 0px;
    left: 555px;
    right: 0;
    background:  var(--primary-color);
    border-radius: 20px;
  }
  
  form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 10px;
    color:#9b3c27;
    
  }
  
  form .form-group {
    border-radius: 100%;
    margin-bottom: 13px;
    position: relative;
  }
  
  form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
    color: #9b3c27;
  }
  
  form input,
  form select {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
  }
  
  form input:focus,
  form select:focus {
    border-color: #9a9a9a;
  }
  
  form input.error,
  form select.error {
    border-color: #f91919;
    background: #f9f0f1;
  }
  
  form small {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #f91919;
  }
  
  form .password i {
    position: absolute;
    left: 0px;
    height: 45px;
    top: 28px;
    font-size: 13px;
    line-height: 45px;
    width: 45px;
    cursor: pointer;
    color: #939393;
    text-align: center;
  }
  
  .submit-btn {
    margin-top: 30px;
  }
  
  .submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #9b3c27;
    transition: 0.2s ease;
  }
  
  .submit-btn input:hover {
    background: #9b3c27;
  }
  
  input[type='checkbox']{
    width: 20px;
    height: 20px;
    accent-color: #9b3c27;
  }