

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/


body {
    background-color: var(--white-color); 
    padding-top: 70px;
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
  line-height: normal;
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-small-title {
  color: var(--secondary-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-semibold);
  display: block;
}
.custom-block {
  background: var(--primary-color);
  border-top: 20px solid var(--secondary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px 50px;
}
.page-custom-block {
  background: transparent;
  border-top: 0;
  border-radius: 0;
  padding: 30px;
}




.allbutton{
  display:inline-block;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  border-color: var(--primary-color);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.allbutton:hover{
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-link {
  color: var(--p-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  padding-bottom: 2px;
}

.custom-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
  background: currentColor;
}

.custom-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.custom-link:hover {
  color: var(--primary-color);
}

.custom-link:hover::after {
  background: var(--custom-btn-bg-color);
}
/*---------------------------------------
  Home             
-----------------------------------------*/
.home-section {
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  min-height: 580px;
  background-image: image_url("homepage1.jpg");
  background-size: cover;
  
}
h4.home-title{
color: var(--secondary-color);
}
@media screen and (min-width: 991px) {
  .home-section {
    height: calc(100vh - 70px);
  }
}
/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

.meeting-img {
  display: block;
  border-radius: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.meeting-img-small {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
}
.meeting-title{
  color: var(--custom-btn-bg-color);
}
.meeting1-title{
  color: var(--secondary-color);
}
/*---------------------------------------
  about1              
-----------------------------------------*/
.about1-section {
  background: var(--white-color);
}


.about11-image {
  display: block;
  border-radius:var(--border-radius-medium);
}

/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  margin-bottom: -2px;
  background: var(--white-color);
}


/*--------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: var(--p-color);
  font-size: var(--p-font-size);
  display: block;
  margin-right: 15px;
  text-align: center;
}

.social-icon-link:hover {
  color: var(--secondary-color);
}

.social-icon-twitter {
  color: var(--twitter-color);
}

.social-icon-facebook {
  color: var(--facebook-color);
}

.social-icon-instagram {
  color: var(--instagram-color);
}

.social-icon-pinterest {
  color: var(--pinterest-color);
}

.social-icon-whatsapp {
  color: var(--whatsapp-color);
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen  and (max-width:700px){
  .home-section{
    background-image: image_url("white.jpg");
  }
  
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .navbar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    padding: 15px 30px;
    min-width: 125px;
  }

  .about-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .meeting-img {
    width: 260px;
    height: 260px;
  }

  .meeting-img-small {
    width: 180px;
    height: 180px;
  }

  .custom-block{
    padding: 30px;
  }

}


@media screen and (max-width: 480px) {
  .home-section{
    background-image: image_url("white.jpg");
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
  .meeting-img {
    width: 205px;
    height: 205px;
  }

  .meeting-img-small {
    width: 145px;
    height: 145px;
  }

  .copyright-text-wrap {
    justify-content: center;
  }
}