body{
  padding-top: 65px;
  background-color: whitesmoke;
}
.container {
  margin: 0 auto;
  max-width: 1500px;
}

.top-bar{
  display: flex;
  justify-content: center;
}
.list{
  padding-top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choose {
  width: 100%;
  height: 40px;
}
.fa {
  margin-right: 20px;
  font-size: 30px;
  color: gray;
  float: right;
}.title{
  text-overflow: ellipsis;
  display: block;
}
/******************************************
Book stuff
*******************************************/

.book {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 390px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
  text-overflow: ellipsis;
}

.cover {

	display: flex;
  flex-direction: column;
	justify-self: start;
  align-items: center;
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}
.book-button{
  background-color: white;
  color: black;
  font-weight: 100;
}

.cover img {
  width: 100%;
}

.book:hover.exchange{
  background-color: #999999;
}

.book p {
  margin-top: 12px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book .author {
  font-size: 15px;
}
@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  .cover {
    
  }
}

/*********************************
other
**********************************/

h1 {
  color: gray;
  text-align: center;
  font-size: 50px;
  margin-bottom: -3px;
}

.large-th{
  margin-top: 30px;
}
button{
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px #aaa;
  color: white;
  border: none;
  height: auto;
  font-size: 20px;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 5000;
  text-align: center;
  transition: 0.2s ease;
}

.Custom-Button{
  width: 100%;
}
.description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}



// Modal design

.container-fluid{
  display: flex;
  flex-direction: column;
  padding: 0;
}


.modal-content{
  box-shadow: 0 0 20px #222222;
  background-color: var(--primary-color);
}
.modal-header{
  
}
.modal-body{
  
}

.modal-footer{
  justify-content: center;
}

.modal-body p{
  text-align: center;
}

.row{
  justify-content: center;

}
.counter {
  position: absolute; /* Position the counter absolutely */
  top: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  background-color: red; /* Change to red */
  color: white; /* Text color */
  border-radius: 50%; /* Make it a circle */
  width: 30px; /* Adjust width to desired size */
  height: 30px; /* Adjust height to desired size */
  text-align: center; /* Center text horizontally */
  line-height: 30px; /* Center text vertically */
  z-index: 1; /* Ensure the counter is on top of other elements */
}