<h1>Editing paragraph</h1>

<%= render "form", paragraph: @paragraph %>

<br>

<div>
  <%= link_to "Show this paragraph", @paragraph %> |
  <%= link_to "Back to paragraphs", paragraphs_path %>
</div>
