<p>مرحبا <%= @resource.username %>!</p>
<p>لقد تم طلب إعادة تعيين كلمة مرور حسابك لدينا.</p>
<p><%= link_to 'تغيير كلمة المرور', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>إن لم تقم بهذا الطلب يرجى تجاهل هذا البريد</p>
<p>لن يتم تعيين كلمة المرور مالم تقم بالدخو للرابط أعلاه</p>
